body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: lightpink;
}

#left-column{
    width: 60%;
    float: left;
    background-color: lightcoral;
}

#right-column img logo{
    width:230px;
    margin-left: 140px;
    margin-top: 100px;
}

#right-column img{
    width: 520px;
    margin-left: 140px;
    margin-top: 100px;
}

img#logo{
    position: fixed;
    width: 1

#


    

